{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "maxFileSize": 700000,
  "proseWrap": "always",
  "tabWidth": 2,
  "plugins": ["prettier-plugin-tailwindcss"]
}
